<button onclick="window.history.back()" style="
background-color: #007bff; 
color: white; 
font-size: 18px; 
padding: 10px 20px; 
border: none; 
border-radius: 5px; 
cursor: pointer;">Quay lại</button>
<br>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>website</title>
</head>
<body>
    <h2>Welcome to website</h2>
    <img width = "200" src ="https://scontent.fdad1-4.fna.fbcdn.net/v/t39.30808-1/453629885_479678441343363_2012956538014607740_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=103&ccb=1-7&_nc_sid=e99d92&_nc_ohc=fJJHpVIj4G4Q7kNvgF3gp6w&_nc_oc=AdinQNRLGkCt6M6cvnmx2czXwnrMeeEckBHBz-03uvvIgn-53saGUZKsMfwFIQArH5g&_nc_zt=24&_nc_ht=scontent.fdad1-4.fna&_nc_gid=A_6Yq7Wv5KjaRMSpl1EjuMb&oh=00_AYDMvMT6MXXBqdDffG17xgjob9P4TKn3la3fMbVSkgAiUA&oe=67C48366"/>
    <div>
        <p>
            so thich cua minh la:
        </p>

        <ul> 
            <li>an</li>
            <li>ngu</li>
            <li>choi game</li>
            <li>doc sach</li>
        </ul>
    </div>
    <div>
        <h3>Dieu cac ban muon hoi</h3>
        <form>
            <button>
                Accepct
            </button>
            <select>
                <option>loc co dep trai khong</option>
                <option>loc co dep trai khon</option>
                <option>loc qua dep trai dung khong</option>
            </select>
        </form>
    </div>
    <div>
        <h3>Thong tin lien he: </h3>
        <a href="https://www.facebook.com/tuan.loc.159882">facebook cua loc </a>

    </div>

</body>
</html>
</body>
</html>