{%load static%}
<!DOCTYPE html>
{% block content %}
    <h2>Đăng nhập</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div>
            <label for="id_user_name">Tên đăng nhập:</label>
            {{ form.user_name }}
        </div>

        <div>
            <label for="id_pass_word">Mật khẩu:</label>
            {{ form.pass_word }}
        </div>

        <button type="submit">Đăng nhập</button>
        <a href="{% url 'register_page' %}">
            <button type="button">Đăng ký</button>
        </a>
    </form>
{% endblock %}
